<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>
    </form>
    <form action="{% url 'register' %}">
        <input type="submit" value="register"/>
    </form>
</body>
</html>