<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    {% for name, value, field in user.get_fields %}
        {% if value %}
            {% if name == 'id' or name == 'user' %}
                <!-- {{ user.get_image_url }} </br> -->
            {% elif name == 'photo' %}
               {{ name }}: <img src="{{ user.get_image_url }}"></br>
            {% else %}
                {{ name }} : {{ value }}</br>
            {% endif %}
        {% endif %}
    {% endfor %}
</body>
</html>