<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Page</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>
    </form>
    
</body>
</html>